<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo List</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= dayOfWeek %></h1>
    </div>

    <div class="container">
      <% for(let i = 0; i < newListItems.length; i++) { %>
      <div class="item-container">
        <input type="checkbox" />
        <p><%= newListItems[i] %></p>
      </div>
      <% } %>

      <form action="/" method="POST">
        <input type="text" name="newTodo" placeholder="New Todo" required />
        <button type="submit">+</button>
      </form>
    </div>
  </body>
</html>
